@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --spaceCadet: #2b2d42;
  --manatee: #8d99ae;
  --aliceBlue: #edf2f4;
  --imperialRed: #ef233c;
  --amaranthRed: #d90429;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  color: white;
}

a:visited {
}

a:hover {
  color: var(--amaranthRed);
  transition: linear 0.5s;
}

a:active {
  color: var(--amaranthRed);
}

a:focus {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
